/* ------    code couleurs   ------ */
/*     orange :rgb(237, 137, 16)    */
/* même col pattern rgb(165, 99, 51)*/
/* marron rgb(99, 75, 44)           */

body {
  width: 90%;
  margin: 2em auto 1em auto;
}


/* ---- mise en forme header ---- */

header {
  height: auto;
  width: 100%;
  background-image: url("img/pattern_gigi.jpg");
  opacity: 0.75;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  border-bottom: 8px solid rgb(99, 75, 44);
}

header div {
  font-size: 1.5em;
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
  opacity: 1;
  color: white;
  text-align: center;
  margin-left: 3em;
  text-shadow: 3px 3px 5px black;
  width: 60%;
}

header img {
  display: inline-block;
  opacity: 1;
  margin: 2em 3em 2em 3em;
  height: 80%;
  max-height: 13em;
  width: 14%;
  box-shadow: 3px 3px 5px black;
}
