body {
  width: 90%;
  margin: auto;
}

/* on démarre avec la mise en page du header */
/* ----------------------------------------- */

header {
  /* ref couleur à réutiliser*/
  background-color: rgb(28, 35, 79); /*bleu en-tête*/
  color: rgb(252, 252, 252); /*blanc cassé*/
  height: 18%;
  text-align: center;
  border-bottom: 8px solid rgb(252, 35, 35); /*le rose/rouge*/
  margin-bottom: 10px;
}

header h1 {
  font-size: 1.7em;

  padding-top: 22px;
  margin-bottom: 0px;
}

header img {
  padding-bottom: 15px;
}
